body {
    background: radial-gradient(#afc3c7, #ffffff);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
}
#mainTitle, #formTitle, #scoreTitle, #boardTitle{
    text-align: center;
}

.form {
    border: solid black 1px;
    border-radius: .20rem;
    padding: 15px;
    min-width: 500px;
    max-width: 700px;
    margin: auto;
}
.score {
    text-align: center;
    border: black solid 1px;
    width: 200px;
    display: grid;
    margin: auto;
}

.board {
    text-align: center;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, auto); 
    justify-self: center;
    align-items: center;
    height: 400px;
    width: 400px;
}
.cell > .purple {
    background-color: darkmagenta;
}
.cell > .green {
    background-color: rgb(0, 177, 0);
}

.cell{
    background: cornsilk;
    border: black solid 2px;
    font-size: 3vmin;
    border-radius: .50rem;
    margin: 2px;
    height: 150px;
    width: 150px;
    justify-content: center;

}
.cell:hover {
    background-color: rgb(255, 255, 255, .50) ;
    cursor: pointer;
    color: indigo;
}

.reset {
    margin: auto;
}