body {
    background: radial-gradient(#c7c7c7, #ffffff);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: grid;
}
#mainTitle, #formTitle, #scoreTitle, #boardTitle{
    text-align: center;
}

.form {
    border: solid black 1px;
    border-radius: .20rem;
    display: grid;
    justify-content: center;
    padding: 15px;
    width: 250px;
    margin: auto;
}
.score {
    text-align: center;
    border: black solid 1px;
    width: 200px;
    display: grid;
    margin: auto;
}
.board {
    text-align: center;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, auto); 
    justify-self: center;
    align-items: center;
    height: 400px;
    width: 400px;
}


.cell{
    background: #ffe3f9;
    border: black solid 2px;
    font-size: 3vmin;
    border-radius: .50rem;
    margin: 2px;
    height: 150px;
    width: 150px;
    justify-content: center;
}

.cell:hover {
    background-color: rgba(253, 209, 255, 0.9) ;
    cursor: pointer;
    color: indigo;
}
.cell-value {
    overflow: hidden;
    width: 0;
    height: 0;
    transition: 350ms;
}

.reset {
    margin: auto;
    padding: 15px;
}
#winner-overlay {
    display: none;
    place-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(0, 0, 0, .40) ;
}
#gameResultBox {
    display: grid;
    background: rgb(85, 29, 80);
    border:solid 2px;
    border-radius: .25rem;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#resultBox {
    display: grid;
}
#winnerBox {
    margin-bottom: 5px;
    font-size: 24pt;
    font-weight: bold;
    padding: 10pt;
    color: rgb(0, 0, 0);
    background: rgb(187, 127, 187);
}
#reset {
    padding-top: 2vmin;
}
#resetButton {
    font-size: 24pt;
    font-weight: bold;
    background:  rgb(187, 127, 187);
    border: lightslategray;
    border-radius: .25rem;
    padding: 10px;
}

#resetButton:hover, #resetButton:active {
    color: rgb(90, 0, 86);
    background: rgb(255, 255, 255);
    cursor: pointer;
}